@font-face {
    font-family: 'Altis-Bold';
    src: url('webfont.ttf') format('truetype');
}

.brand {
    font-family: 'Altis-Bold';
}

body {
    width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #ffffff;
    background-color: #000000;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

a {
    color: #28c3ab;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

/* Intro section */
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: asset-data-url("intro-bg.jpg") no-repeat bottom center scroll;
    background-color: #000;
    background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;
}

/* Button styles */
.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: transparent;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

/* Download section */
.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(/assets/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    background-size: cover;
}

/* Tour section */
.tour-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(/assets/background7.jpg) no-repeat center center scroll;
    background-color: #000;
    background-size: cover;
}

/* Pricing section */
#pricing .plan {
    background: #fff;
    list-style: none;
    margin: 0 0 20px;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #e1e1e1;
    color: #666;
}
#pricing .plan li {
    padding: 10px 0;
    margin: 0 15px;
    border-bottom: 1px dashed #eee;
}
#pricing .plan li.plan-name {
    padding: 15px 0;
    font-size: 18px;
    font-weight: 700;
}
#pricing .plan li.plan-price {
    color: #050505;
    padding: 15px 0;
    font-size: 48px;
}
#pricing .plan li.plan-action {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 0;
}

/* Footer */
.wet-asphalt {
    background-color: #000000;
    padding: 50px 0;
    color: #fff;
}
.wet-asphalt a:not(.btn) {
    color: #bdc3c7;
}
.wet-asphalt a:not(.btn):hover {
    color: #d9534f;
}

/* Media queries */
@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
    
    .intro {
        height: 100%;
        padding: 0;
    }
    
    .content-section {
        padding-top: 250px;
    }
    
    .download-section {
        padding: 100px 0;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    
    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}